.new-tweet {
  justify-content: center;
  border: 2px dotted green;
  margin: 5px;
  padding: 0.5em;
}
form {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
}

.submit-counter {
  justify-content: space-between;
  padding-top: 1em;
}

form textarea {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 5px solid;
  background-color: #f4f1ec;;
  text-decoration: none;
  outline: none;
  font-size: 0.6em;
  line-height: 1.5em;
}

form button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 24px;
  font-family: Bungee, "sans-serif";
  border: none;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60%;
}

output.counter {
  font-size: 80%;
  font-weight: bold;
}

output.counter.alert {
  color: red;
}

.tweet {
  margin: 5px;
  border: 2px solid;
  background-color: #f4f1ec;
}
section article.tweet header {
  background-color: #f4f1ec;

}